<a href="https://colab.research.google.com/github/badstyle-goodstyle/data_engineering/blob/data_engine/data_engine_practice2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Предисловие:

In [124]:
from IPython.display import HTML
HTML("<h2><span style='font-family:Times New Roman'>"
  "<span style='color:blue'>Выполнил</span>: Яковцев Дмитрий </span></h2>"
  "<h3><span style='color:red'>Задача</span>: " 
  "Решите задачи средствами Pandas (данные в файле flight_delays.csv)"
  "</span></h3>")

In [5]:
import pandas as pd
import numpy as np

flight_data = pd.read_csv('drive/MyDrive/data_engineering/flight_delays.csv')
flight_data.head(10)

,Month,DayofMonth,DayOfWeek,DepTime,UniqueCarrier,Origin,Dest,Distance,dep_delayed_15min
0,c-8,c-21,c-7,1934,AA,ATL,DFW,732,N
1,c-4,c-20,c-3,1548,US,PIT,MCO,834,N
2,c-9,c-2,c-5,1422,XE,RDU,CLE,416,N
3,c-11,c-25,c-6,1015,OO,DEN,MEM,872,N
4,c-10,c-7,c-6,1828,WN,MDW,OMA,423,Y
5,c-8,c-3,c-4,1918,NW,MEM,MCO,683,N
6,c-1,c-27,c-4,754,DL,PBI,LGA,1035,N
7,c-4,c-29,c-6,635,OH,MSP,CVG,596,N
8,c-7,c-28,c-5,735,AA,ONT,DFW,1189,N
9,c-6,c-20,c-2,2029,OO,DEN,PSC,853,N

# Задача №1

In [132]:
HTML("<span style='font-weight:bold; font-size:16px; font-style: italic'>"
"Найти долю всех задержек ко всем вылетам")

In [22]:
total_flights = flight_data.index.max() + 1
delayed_flights = flight_data[flight_data["dep_delayed_15min"] == 'Y']["dep_delayed_15min"].count()
proportion_flights = delayed_flights / total_flights
print(proportion_flights)

0.19044

# Задача №2

In [131]:
HTML("<span style='font-weight:bold; font-size:16px; font-style: italic'>"
"Найти зависимость количества задержек от длины пути, который предстоит пролететь самолету")

In [37]:
flight_data.delayed = 1 * flight_data["dep_delayed_15min"].eq('Y')
# Определяем корреляцию данных между 2 столбцами
flight_data["Distance"].corr(flight_data.delayed)
# Значение крайне низкое => зависимость несущественная

-0.0027342966845767033

# Задача №3

In [133]:
HTML("<span style='font-weight:bold; font-size:16px; font-style: italic'>"
"Найти топ 5 направлений, для которых чаще всего происходят задержки")

In [87]:
dest_array = flight_data[(flight_data["dep_delayed_15min"] == "Y")]["Dest"].unique()
dest_obj = {}
for next_data in dest_array:
  dest_obj[next_data] = 0

for i in range(0, total_flights):
  if flight_data.loc[i]["dep_delayed_15min"] == "Y":
    for next_station in dest_obj:
      if flight_data.loc[i]["Dest"] == next_station:
        dest_obj[next_station] += 1
        break

print(sorted(dest_obj.items(), key = lambda amount: amount[1], reverse=True)[:5])

# Делает тоже самое, но быстрее
# flight_data[flight_data['dep_delayed_15min'].eq('Y')]['Dest'].value_counts()[:5]

[('ATL', 1281), ('ORD', 1072), ('DFW', 656), ('EWR', 584), ('LAX', 525)]

# Задача №4

In [134]:
HTML("<span style='font-weight:bold; font-size:16px; font-style: italic'>"
"В какие времена года чаще всего происходят задержки рейсов")

In [91]:
flight_delayed = flight_data[flight_data["dep_delayed_15min"] == "Y"]

def get_season(obj):
  month = int(obj["Month"][2:])
  if month in [1, 2, 12]:
    return "Winter"
  elif month in [3, 4, 5]:
    return "Spring"
  elif month in [6, 7, 8]:
    return "Summer"
  elif month in [9, 10, 11]:
    return "Autumn"
  else:
    return "Unknown"

flight_delayed.apply(get_season, axis = 1).value_counts()

Summer    5723
Winter    4849
Spring    4295
Autumn    4177
dtype: int64

# Задача №5

In [135]:
HTML("<span style='font-weight:bold; font-size:16px; font-style: italic'>"
"Найти топ 10 самых хороших перевозчиков, которые реже всего задерживают свои рейсы")

In [97]:
flight_delayed['UniqueCarrier'].value_counts()[-1:-11:-1]

AQ     18
HA     33
TZ     64
DH    156
F9    156
HP    196
B6    393
YV    478
AS    541
FL    736
Name: UniqueCarrier, dtype: int64

# Задача №6

In [136]:
HTML("<span style='font-weight:bold; font-size:16px; font-style: italic'>"
"Найти топ 10 самых безответственных аэропортов, в которых чаще всего происходят задержки")

In [98]:
flight_delayed['Origin'].value_counts()[:10]

ATL    1506
ORD    1254
DFW     902
DEN     575
LAX     552
LAS     546
EWR     538
IAH     492
PHX     491
DTW     401
Name: Origin, dtype: int64